@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c6775;
    font-family: 'Nunito Sans', sans-serif;
}

.smooth-curve-card {
    height: 450px;
    width: 300px;
    background-color: #e2e8f0;
    border-radius: 1rem;
}

.smooth-curve-card-top,
.smooth-curve-card-bottom {
    height: 50%;
    width: 100%;
    outline: none;
    position: relative;
    padding: .5rem .75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.smooth-curve-card-top {
    background-color: #3b82f6;
    border-radius: 1rem 1rem 0 2rem;
    z-index: 2;
}

.smooth-curve-card-top::after {
    position: absolute;
    bottom: -2rem;
    right: 0;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    background-color: #3b82f6;
}

.smooth-curve-card-top__placeholder {
    height: 60%;
    width: 100%;
    border-radius: 0.5rem;
}

.smooth-curve-card-bottom {
    background-color: #e2e8f0;
    border-radius: 0 2rem 1rem 1rem;
    z-index: 3;
}

.smooth-curve-card-bottom__placeholders {
    width: 100%;
    display: flex
}