body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    border-radius: 12px;
}
.all-things{
    position: relative;
    width: 100%;
    max-width: none;
    justify-content: center;
    align-items: start;
    height: 100vh; 
    padding: 100px;
}
.title-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-diretriz h3 {
    font-size: 24px;
    font-weight: bold; 
}
.background {
    background-color: #D9D9D9;
    padding: 12px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#divBusca{
    background-color:#F6F6F6;
    border:solid 1px;
    border-radius:12px #5E5E5E;
    width:300px;
    display: flex;
    align-items: center;
    padding-left: 0;
}
  
  #txtBusca{
    float:left;
    background-color:#F6F6F6;
    padding-left:15px;
    font-size:20px;
    border:none;
    height:32px;
    width:260px;
    padding: 5px;
  }
  #btnBusca {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.diretriz-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.diretriz-box h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.diretriz-box p {
    font-size: 16px;
    line-height: 1.2;
}
.butaosugestao {
    display: flex;
    align-items: center;
}

.suggest-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h3 {
    margin: 0;
}

.suggest-button {
    margin-right: 10px; /* Adiciona um espaço entre o botão e o texto */
    padding: 10px 20px;
    background-color: transparent; /* Cor do botão de sugestão */
    border: none;
    cursor: pointer;
}

.suggest-button i {
    margin-left: 5px;
}

.suggest-button i:before {
    content: '\f067'; /* Código Unicode para o ícone de "+" */
    font-family: 'Font Awesome Free 5.15.3';
    font-weight: 900;
}
.butaosugestao{
    position: absolute;
    right: 20;
}