@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

p {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #F1FFF1;
  border: 1px solid #000;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Todos os links dispostos à direita */
}

li {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.active button {
  font-weight: bold;
}

.login-button {
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.login-button i {
  margin-right: 5px;
}
.login-button svg {
  width: 24px;
  height: 32px;
  margin-right: 10px;
}

.logout-button svg {
  width: 26px;
  height: 26px;
}

.logout-button {
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.logout-button i {
  color: #f00;
}
