@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: Poppins;
}

.box {
    background-color: #fff;
    text-align: center;
    width: 80%; 
    max-width: 1000px;
    padding: 120px;
}

.box h1 {
    text-align: left; 
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.64px;
    padding-left: 10px;
}

.input label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
}

.input input {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    background: #D9D9D9;
}
.input textarea {
    width: calc(100% - 20px);
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    background: #D9D9D9;
}

.input textarea:focus {
    outline: none;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}
  
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
}
  
::-webkit-scrollbar {
    width: 10px;
}

.inputdiretriz,
.inputDescricao,
.inputLink {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.buttons button {
    width: 152px;
    height: 48px; 
    flex-shrink: 0; 
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    margin: 0 30px;
    background-color: transparent;
    border: 1px solid #5E5E5E;
    color: #000;
    font-family: Poppins;
}
    
.button:hover {
    background-color: #000;
    color: #fff; 
}

.button:active {
    background-color: #898989;
    color: #fff;
}