body {
    font-family: Poppins, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100vh;
    margin: 0;
    background-color: #F1FFF1;
}

.container {
    text-align: center;
    font-weight: bold;
}
.login-button,
.register-button {
    background-color: #F1FFF1;
    color: #3FB4BA;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.login-button, .register-button {
    background-color: #898989;
    color: #FFFFFF;
}

.login-button:hover,
.register-button:hover {
    background-color: #3FB4BA; 
    color: #F1FFF1; 
}

.button-container {
    display: flex;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .button-container button {
    margin-right: 10px;
  }