body {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
    background-color: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs-container {
	padding: 16px;
    width: 1224px;
    height: 600px;
    display: flex;
	margin: 10px;
	border-radius: 0px 16px 16px 0px;
    background-color: #E7EDE7;
	box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.tab-content-wrapper {
    overflow-y: hidden;
    overflow-x: auto;
    height: 300px;
    padding: 0 16px;
}

.tab-content h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 2px;
}

.tab-content {
    font-size: 0.8rem;
    min-height: 300px;
    min-width: 240px;
    overflow-x: auto;
}

.tabs {
    width: 150px;
    height: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 16px;
    gap: 8px;
}

.tabs a {
    position: relative;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    border-radius: 8px;
    padding: 12px;
    align-items: center;
    gap: 8px;
    width: 96px;
    height: 107px;
    flex-direction: column;
    justify-content: center;
    background-color: #D9D9D9;
    color: black;
}

.tabs .active, .tabs a:hover {
    font-weight: 700;
    outline: none;
    color: #000000;
    background-color: #E7EDE7;
}

p {
    width: 1000px;
    height: 50px;
    display: flex;
    background-color: #D9D9D9; 
    margin: 0; 
    padding: 5px; 
    border-radius: 8px;
    margin-bottom: 10px;
  }
    
  p:nth-child(even) {
    background-color:#BABABA; 
  }
  
  
  label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    padding: 5px
  }

  .botao-calcular{
    border-radius: 16px;
    background:  #D9D9D9;
    padding: 10px 20px; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    display: flex-end;
    margin-right: 10px;
  }